/* GridWithDragAndDrop.css */
.layout {
  border: 1px solid #ccc; /* Add border to the grid */
}
* {
  margin: 0;
  font-family: system-ui;
  padding: 0;
}
.draggable-box {
  background-color: #3498db;
  color: #fff;
  border: 1px solid #2980b9;
  cursor: move;
}
.activeMode {
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 1px 5px 20px -8px #00000052;
}
.activeMode img {
  width: 40px;
  height: auto;
  border-radius: 10px;
}
.img {
  width: 50px;
  height: auto;
  border-radius: 10px;
}

.icons {
  height: 55px;
  width: 55px;
  border: none;
  margin-bottom: 0;
  cursor: pointer;
}

.Rows {
  display: flex;
}

.Rows .icons {
  background-color: #a6a6a6;
  border: 1px solid #5f5e5e;
  box-shadow: inset 2px 1px 16px 15px #45445b4d;
  border-radius: 3px;
}

.Rows .empty {
  font-weight: bold;
  font-size: 22px;
  background-color: #f1f0f0;
  border: 1px solid #5f5e5e;
  box-shadow: inset 2px 1px 17px 10px #45445b1c;
  border-radius: 3px;
}

.Rows .bomb{
  background-color: #f1f0f0 !important;
  font-weight: bold;
  font-size: 22px;
  background-color: #f1f0f0;
  border: 1px solid #5f5e5e;
  box-shadow: inset 2px 1px 17px 10px #45445b1c;
  border-radius: 3px;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.controls {
  margin-top: 1rem;
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: space-between;
}

.reset{
  padding: 0.5rem 1.5rem;
  direction: ltr;
  box-shadow: 0px 1px 20px -14px #000;
  border: 1px solid #cacaca;
  font-size: 22px;
  border-radius: 5px;
  background-color: #d6d6ff;
  cursor: pointer;
}